@import "./../../../../variables.scss";

::ng-deep .jobs .jobs-tabs {
    display: flex;

    .tab-content{
        margin-left: 38px;
    }

    ul{
        display: block;
        width: 114.33px;
        border: none;
    }

    a.active{
        background-color: $LightNavy !important;
        color: $Green !important;
        border-color: transparent !important;
        border-radius: 0px;
    }
    
    a:hover{
        background-color: $LightNavy !important;
        color: $Green !important;
        border-color: transparent !important;
        border-radius: 0px;
    }

    a{
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        height: 42px;
        padding: 0 20px 2px;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        text-align: left;
        white-space: nowrap;
        font-family: $CodeFont;
        font-size: 13px;
        color: $Slate;
    }

    li{
        border-left: 2px solid $LightestNavy;
    }
}

.jobs {
    max-width: 700px;
    margin: auto;

    .title-tab-content {
        color: $LightestSlate;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;

        .company-tab-content {
            color: $Green;
        }
    }

    .job-time {
        font-family: $CodeFont;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: $LightSlate;
        margin-bottom: 30px;
    }
    
    .job-description {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        font-size: 18px;

        &:before {
            content: '▹';
            position: absolute;
            left: 0;
            color: $Green;
        }
    }
}

@media (max-width: 768px){
    .jobs {
        .job-description {
            padding: 0px;
        }
    }
    ::ng-deep .jobs-tabs {
        display: block !important;

        .tab-content {
            margin-left: 0px !important;
        }

        ul {
            display: block;
            width: 100% !important;
            margin-bottom: 50px;
        }
    }
}
