<!-- Remove this section entirely -->
<section class="section proyects" id="proyects">
  <div class="container">
    <div class="section-box">
      <div data-aos="fade-up" data-aos-duration="1000">
        <!-- <h3 class="section-title">
          <span class="n-section-title">03.</span>
          {{ "FeatureProjects.Title" | translate }}
        </h3> -->
      </div>

      <div
        *ngFor="
          let project of 'FeatureProjects.Projects' | translate;
          let i = index
        "
        class="d-flex proyect-container"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <owl-carousel-o
          class="owl-carousel-o"
          [options]="customOptions"
          *ngIf="i % 2 == 0"
        >
          <ng-container *ngFor="let img of project.imgs">
            <ng-template carouselSlide [id]="project.Title + slide + i">
              <div #imgContainer class="img-container">
                <img
                  class="img-feature-proyect rounded"
                  [src]="img"
                  [alt]="project.Title"
                />
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <!-- More code to remove -->
      </div>
    </div>
  </div>
</section>
